
<div id="question-area" style="font-size: 100; padding-top: 3%;">
    <form 
      method="POST" 
      hx-post="{% url 'test3_training' %}" 
      hx-target="#question-area" 
      hx-swap="innerHTML">
    
      {% csrf_token %}
      <input type="hidden" name="index" value="{{ index }}">
    
      <div class="card p-3 my-3">
        <div class="mb-4 fw-bold fs-5 text-end">
          {{ index|add:"1" }}- {{ question.text|safe }}
        </div>
    
        <!--<div class="row">-->
          {% for opt in question.options %}
            <div class="col-md-6 mb-3 text-end" style="padding-top: 3% ;">
              <button 
                type="submit" 
                name="answer" 
                value="{{ opt.value }}" 
                class="btn btn-outline-secondary w-100 text-end" 
                data-answer = "{{opt.value}}"
                style="direction: rtl; font-size: 50;">
                <strong>{{ opt.label }} - </strong>{{ opt.text }}
              </button>
            </div>
          {% endfor %}
        <!--</div>-->
      </div>
    </form>
    </div>
    