
<div id="question-area"  >
    <form 
      method="POST" 
      hx-post="{% url 'test5_training' %}" 
      hx-target="#question-area" 
      hx-swap="innerHTML">
    
      {% csrf_token %}
      <input type="hidden" name="index" value="{{ index }}">
    
      <!--<div class="card p-3 my-3" style="padding-right: 5%; padding-top: 3%;">-->
        <div class="mb-2 fw-bold fs-1 text-center p-5">
          {{ index|add:"1" }}- {{ question.text|safe }}
        </div>
    
        <div class="d-flex flex-column align-items-center">
          {% for opt in question.options %}
            <div class="col-6 mb-2 px-5 text-center">
              
              <button 
                type="submit" 
                name="answer" 
                value="{{ opt.value }}" 
                class="btn btn-outline-secondary fs-2 w-100 text-end" 
                data-answer = "{{opt.value}}"
                style="direction: rtl;">
                {{ opt.text }}
              </button>
            </div>
          {% endfor %}
        </div>
      <!--</div>-->
    </form>
    </div>
    