{%extends 'base.html'%} {%load static%} {%block content%}
<div class="container">

    <div class="form-group" style="direction: rtl;">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
    <div class="container" style="direction: rtl;">
        <p class="text-m-b fs-3" style="margin-bottom: 10px;">الطالب : {{student}}</p>
        {% if sec_context_test1.status_test1 == "منجز " and sec_context_test2.status_test2 == "منجز " and sec_context_test3.status_test3 == "منجز " and sec_context_test4.status_test4 == "منجز " %}
        <a href="{% url 'secondary_result'%}" style="font-weight: bold;" type="submit" class="btn btn-primary-color"> عرض النتائج والتوصيات </a>
        {% elif sec_context_test1.status_test1 == "توقف " or sec_context_ltrs.status_ltrs == "توقف "%}
        <a href="" style="font-weight: bold;" type="submit" class="btn-outline-p"> عرض النتائج والتوصيات </a>
        {% else %}
        <button class="btn" disabled="disabled" style="font-weight: bold;" href="#" type="submit" class="btn-outline-p"> عرض النتائج والتوصيات</button> {% endif %}

        <div class="table-responsive ">
            <table class="name_table table table-striped mt-4 fs-4" style="direction: rtl;">
                <thead class="table-light">
                    <tr >
                        <th >الاختبار</th>
                        <th>الحال</th>
                        <th> الدرجة الكلية </th>
                        <th> النتائج </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a name="test1" href="{% url 'test1_training_sec'%}" id="test1Obj" type="submit" value="دقة قراءة الكلمة المفردة" class="btn-t-enabled">دقة قراءة الكلمة المفردة</a>
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test1.correctAnswers != None%} {{sec_context_test1.status_test1}} {% else %} {{sec_context_test1.status_test1}} {%endif%}
                        </td>
                        <td style="text-align: center;">{%if sec_context_test1.correctAnswers != None%} {{sec_context_test1.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">{%if sec_context_test1.correctAnswers != None%}
                            <a href="#" id="showResult" data-bs-toggle="modal" data-bs-target="#ModalShowTest1" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="test2" href="{% url 'test2_training_sec'%}" type="button" class="btn-t-enabled">الطلاقة في فهم المقروه</a>
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test2.correctAnswers != None%} {{sec_context_test2.status_test2}} {% else %} {{sec_context_test2.status_test2}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test2.correctAnswers != None%} {{sec_context_test2.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test2.correctAnswers != None%}
                            <a href="#" id="showResult" data-bs-toggle="modal" data-bs-target="#ModalShowTest2" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a name="test3" href="{% url 'test3_training_sec'%}" id="test3" type="submit" value="التسمية السريعة للحروف" class="btn-t-enabled">إملاء الكلمة</a>
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test3.correctAnswers != None%} {{sec_context_test3.status_test3}} {% else %} {{sec_context_test3.status_test3}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test3.correctAnswers != None%} {{sec_context_test3.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">{%if sec_context_test3.correctAnswers != None%}
                            <a href="#" id="showResult" data-bs-toggle="modal" data-bs-target="#ModalShowTest3" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'test4_training_sec'%}" id="test4" type="button" class="btn-t-enabled">فهم المقروء (القطعة)</a>
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test4.correctAnswers != None%} {{sec_context_test4.status_test4}} {% else %} {{sec_context_test4.status_test4}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test4.correctAnswers != None%} {{sec_context_test4.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if sec_context_test4.correctAnswers != None%}
                            <a href="#" id="showResult" data-bs-toggle="modal" data-bs-target="#ModalShowTest4" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>



<!--modal for the show test 1 result-->
<div class="modal fade" id="ModalShowTest1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPageSec' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار دقة قراءة الكلمة المفردة</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test1.correctAnswers}} /40</label>
                            <label class="text-m-b">الزمن (ث) </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test1.time_sec}} </label>
                            <label class="text-m-b">fluency </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test1.fluency_score}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--modal for the show test 2 result-->
<div class="modal fade" id="ModalShowTest2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPageSec' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار الطلاقة في فهم المقروه</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test2.correctAnswers}} / 50</label>
                            <label class="text-m-b">الزمن (ث) </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test2.time_sec}} </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--modal for the show test 3 test result-->
<div class="modal fade" id="ModalShowTest3" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPageSec' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار إملاء الكلمة</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test3.correctAnswers}} / 39</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--modal for the show test 4 result-->
<div class="modal fade" id="ModalShowTest4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPageSec' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار فهم المقروء (القطعة)</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{sec_context_test4.correctAnswers}} / 32</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<script>
</script>

{%endblock%}