{%extends 'base.html'%} {%load static%} {%block content%}
<div class="container">

    <div class="form-group" style="direction: rtl;">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endfor %}
    </div>
    <div class="container" style="direction: rtl;">
        <p class="text-m-b fs-3" style="margin-bottom: 10px;">الطالب : {{student}}</p>
        {% if context_test1.status_obj == "منجز" %}
        <a href="" style="font-weight: bold;" type="submit" class="btn-outline-p"> عرض النتائج والتوصيات </a>
        {% elif context_test1.status_obj == "توقف" or context_test1.status_ltrs == "توقف"%}
        <a href="" style="font-weight: bold;" type="submit" class="btn-outline-p"> عرض النتائج والتوصيات </a>
        {% else %}
        <button class="btn" disabled="disabled" style="font-weight: bold;" href="#" type="submit" class="btn-outline-p"> عرض النتائج والتوصيات</button> {% endif %}

        <div class="table-responsive ">
            <table class="table table-striped mt-4 fs-4" style="direction: rtl;">
                <thead>
                    <tr style="border-bottom:solid; border-color:white;">
                        <th style="background-color:rgb(239, 226, 252);">الاختبار</th>
                        <th style="background-color:rgb(239, 226, 252); text-align: center;">الحال</th>
                        <th style="background-color:rgb(239, 226, 252); text-align: center;"> الدرجة الكلية </th>
                        <th style="background-color:rgb(239, 226, 252); text-align: center;"> النتائج </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a name="test1" href="{% url 'test1_training'%}" id="test1" type="submit" value="التسمية السريعة للأشكال" class="btn-t-enabled">دقة قراءة الكلمة المفردة</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_test1.total_correct != None%} {{context_test1.status_obj}} {% else %} {{context_test1.status_obj}} {%endif%}
                        </td>
                        <td style="text-align: center;">{%if context_test1.total_correct != None%} {{context_test1.totalScore_obj}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">{%if context_test1.total_correct != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowObj" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <a id="test2" href="{% url 'test2_training'%}" type="button" class="btn-t-enabled">الطلاقة في قراءة الجملة</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_test2.correctAnswers != None%} {{context_test2.status_test2}} {% else %} {{context_test2.status_test2}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_test2.correctAnswers != None%} {{context_test2.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_test2.correctAnswers != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowPhoneme" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                   <!-- 
                    <tr>
                        <td>
                            <a id="phonemeDeletion" href="{% url 'test3'%}" type="button" class="btn-t-enabled">الطلاقة في فهم المقروه</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_phoneme.correctAnswers != None%} {{context_phoneme.status_phoneme}} {% else %} {{context_phoneme.status_phoneme}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_phoneme.correctAnswers != None%} {{context_phoneme.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_phoneme.correctAnswers != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowPhoneme" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a name="rpdNLTst" href="{% url 'test4'%}" id="rapidNamingLtr" type="submit" value="التسمية السريعة للحروف" class="btn-t-enabled">إملاء الكلمة</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_ltrs.rpdNLwrongA != None%} {{context_ltrs.status_ltrs}} {% else %} {{context_ltrs.status_ltrs}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_ltrs.rpdNLwrongA != None%} {{context_ltrs.totalScore_ltr}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">{%if context_ltrs.rpdNLwrongA != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowLtrs" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a name="rpdNLTst" href="{% url 'test5'%}" id="rapidNamingLtr" type="submit" value="التسمية السريعة للحروف" class="btn-t-enabled">اختيار الإملاء الصحيح</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_ltrs.rpdNLwrongA != None%} {{context_ltrs.status_ltrs}} {% else %} {{context_ltrs.status_ltrs}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_ltrs.rpdNLwrongA != None%} {{context_ltrs.totalScore_ltr}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">{%if context_ltrs.rpdNLwrongA != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowLtrs" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'test6'%}" id="nonWordRepetition" type="button" class="btn-t-enabled">فهم المقروء (القطعة)</a>
                        </td>
                        <td style="text-align: center;">
                            {%if context_nonWrdRep.correctAnswers != None%} {{context_nonWrdRep.status_nonWrdRep}} {% else %} {{context_nonWrdRep.status_nonWrdRep}} {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_nonWrdRep.correctAnswers != None%} {{context_nonWrdRep.correctAnswers}} {% else %} ------- {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if context_nonWrdRep.correctAnswers != None%}
                            <a href="#" id="showResult" data-toggle="modal" data-target="#ModalShowRep" class="btn-t-enabled"> عرض </a> {% else %}
                            <button disabled="disabled" name="showRslt" href="" id="showResult" type="submit" value="عرض" class="btn-t-disabled"> عرض </button> {%endif%}
                        </td>
                    </tr>
                -->
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<!--modal for the show OBJ result-->
<div class="modal fade" id="ModalShowObj" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPage' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتائج اختبار التسمية السريعة للأشكال</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <label class="text-m-b color-purple"> نموذج (أ) </label>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {%if context_obj.rpdNOwrongA != None%}{{context_obj.durationA}} ث {%endif%}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">عدد الأخطاء </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff">{{context_obj.rpdNOwrongA}}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن مع الأخطاء  </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;">{{context_obj.scoreA}} ثانيه</label>
                        </div>
                        <br></br>
                        <label class="text-m-b color-purple"> نموذج (ب) </label>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff;direction: rtl;">{%if context_obj.rpdNOwrongB != None%} {{context_obj.durationB}} ث {%else%} ---- {%endif%}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">عدد الأخطاء </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff">{%if context_obj.rpdNOwrongB != None%} {{context_obj.rpdNOwrongB}} {%else%} ---- {%endif%}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن مع الأخطاء  </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;">{%if context_obj.rpdNOwrongB != None%} {{context_obj.scoreB}} ثانيه {%else%} ---- {%endif%}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>

            </div>
        </div>

    </form>
</div>

<!--modal for the show Letters result-->
<div class="modal fade" id="ModalShowLtrs" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPage' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتائج اختبار التسمية السريعة للحروف</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <label class="text-m-b color-purple"> نموذج (أ) </label>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{context_ltrs.durationTstA}} ث</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">عدد الأخطاء </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff">{{context_ltrs.rpdNLwrongA}}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن مع الأخطاء  </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;">{{context_ltrs.scoreTstA}} ثانيه</label>
                        </div>
                        <br></br>
                        <label class="text-m-b color-purple"> نموذج (ب) </label>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff;direction: rtl;"> {%if context_ltrs.rpdNLwrongB != None%} {{context_ltrs.durationTstB}} ث {%else%} ---- {%endif%}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">عدد الأخطاء </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff"> {%if context_ltrs.rpdNLwrongB != None%} {{context_ltrs.rpdNLwrongB}} {%else%} ---- {%endif%}</label>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-m-b">الزمن مع الأخطاء  </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;">{%if context_ltrs.rpdNLwrongB != None%} {{context_ltrs.scoreTstB}} ثانيه {%else%} ---- {%endif%}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>

            </div>
        </div>

    </form>
</div>

<!--modal for the show Phoneme test result-->
<div class="modal fade" id="ModalShowPhoneme" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPage' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار حذف المقاطع والأصوات</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{context_phoneme.correctAnswers}} /20</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--modal for the show non word repetitions test result-->
<div class="modal fade" id="ModalShowRep" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPage' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار تكرار الكلمات غير الحقيقية </h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{context_nonWrdRep.correctAnswers}} /20</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>

    </form>
</div>

<!--modal for the show non word reading accuracy test result-->
<div class="modal fade" id="ModalShowReading" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'testsPage' %}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> نتيجة اختبار دقة قراءة الكلمات غير الحقيقية </h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">
                        <div class="form-group mb-3">
                            <label class="text-m-b">الدرجة الكلية </label>
                            <label class="form-control fs-5" style="background-color:#f8f4ff; direction: rtl;"> {{context_nonWrdReading.correctAnswers}} /25</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button class="btn btn-danger fs-5 col-12 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">اغلاق</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
</script>

{%endblock%}