{% extends 'base.html' %} {%load static %} {% block content %}


<div class="p-5 bg-body-tertiary rounded-3">
    <div class="container py-5">
        <div class="bg-white p-5 rounded-4 shadow-sm">

            <!-- Heading -->
            <h2 class="text-primary-color fw-bold mb-4 text-center">تواصل معنا</h2>

            <!-- Address -->
            <div class="text-center" style="direction: rtl; text-align: right;">
                <p class="fs-6">
                    <strong>مركز تقويم وتعليم الطفل</strong><br>
                    الكويت - السرة - قطعة 4 - شارع 14<br>
                    ص.ب. 5453 الصفاة - الكويت<br>
                    الرمز البريدي: 13055<br>
                    <p class="mb-1">
                        <strong>الهاتف:</strong> 
                        <span dir="ltr">+965-183-2000</span>
                    </p>
                    <p class="mb-3">
                        <strong>الجوال:</strong> 
                        <span dir="ltr">+965-60362896</span>
                    </p>
                    
                </p>

                <p class="mt-4">
                    <strong>للتواصل عبر البريد الالكتروني:</strong><br>
                    <a href="mailto:info@ccetkuwait.org" class="fs-5 text-decoration-none text-primary">
                        info@ccetkuwait.org
                    </a>
                </p>
            </div>


            <!-- Social -->
             
            <div class="text-center mt-4">
                <strong class="d-block mb-2">وسائل التواصل الاجتماعي</strong>
                <a href="https://twitter.com/ccetkuwait" class="mx-2 text-primary-color" title="Twitter"><i class="bi bi-twitter fs-4 text-primary-color"></i></a>
                <a href="https://www.facebook.com/ccetkuwait.org/" class="mx-2 text-primary-color" title="Facebook"><i class="bi bi-facebook fs-4 text-primary-color"></i></a>
                <a href="https://www.youtube.com/channel/UCnPMSDakNbuzB6otuW_rLpQ" class="mx-2 text-primary-color" title="Youtube"><i class="bi bi-youtube fs-4 text-primary-color"></i></a>
                <a href="https://www.instagram.com/ccetkuwait/" class="mx-2 text-primary-color" title="Instagram"><i class="bi bi-instagram fs-4 text-primary-color"></i></a>
                
            </div>
            

        </div>
    </div>
</div>





{% endblock %}