{% extends 'base.html' %} {%load static %} {% block content %}

<div class="p-5 bg-body-tertiary rounded-3">
    <div class="container py-5">
        <div class="bg-white p-5 rounded-4 shadow-sm">

            <!-- Heading -->
            <h2 class="text-primary-color fw-bold mb-4 text-center">مساعدة</h2>

            <!-- Email -->
            <div class="d-flex align-items-center gap-2 justify-content-center mb-3">
                <i class="bi bi-envelope-fill text-primary-color fs-5"></i>
                <a href="mailto:info@ccetkuwait.org" class="fs-5 fw-light text-decoration-none text-dark">
                    اضغط لمراسلتنا عبر البريد الالكتروني
                </a>
            </div>

            <!-- Phone -->
            <div class="d-flex align-items-center gap-2 justify-content-center">
                <i class="bi bi-telephone-fill text-primary-color fs-5"></i>
                <p class="fs-5 fw-light mb-0">
                    أو اتصل بنا على الرقم 
                    <span class="fw-bold">1832000</span>
                </p>
            </div>

        </div>
    </div>
</div>






{% endblock %}