{% extends 'base.html' %} {%load static %} {% block content %}


        
                <!-- Heading -->
                <h2 class="text-primary-color fw-bold mb-4">من نحن ؟</h2>
        
                <!-- Main Description -->
                <p class="fw-light" style="text-align: justify; direction: rtl;">
                    في عام 1984، رأت مجموعة من النساء الكويتيات أهمية إنشاء مركز في الكويت يشخص ويهتم بحالات الأطفال ذوي صعوبات التعلم، حيث أنهن لم يجدن من ينصحهن محلياً لمعالجة هذه المشكلات. فقمن بإنشاء المركز كجمعية نفع عام في منطقة الشويخ (ثم انتقل إلى منطقة السرة) بمساعدة متبرعين من الأهل والأصدقاء ومن يؤمن بأهمية المركز.
                </p>
        
                <p class="fw-light" style="text-align: justify; direction: rtl;">
                    تتركز مشكلات هؤلاء الأطفال بصفة عامة في صعوبات القراءة والتهجئة والكتابة والحساب، حيث يجد الكثير منهم عقبات بسبب صعوبة القراءة (الدسلكسيا)، أو صعوبة التآزر الحركي (الدسبراكسيا)، أو صعوبة الكتابة (الدسغرافيا)، أو صعوبة الرياضيات (الدسكلكوليا)، وغالباً ما يكون خليطاً متشابكاً من هذه الحالات. كما أن البعض منهم يعاني صعوبات أخرى في التركيز والانتباه وفرط النشاط ومشكلات سلوكية واجتماعية وانفعالية أخرى. يهتم المركز بتشخيص ومعالجة هؤلاء الأطفال كما يهتم بأسرهم ومعلميهم وباقي المهن ذات الصلة للتغلب على التحديات التي تشكلها صعوبات التعلم.
                </p>
        
                <!-- Authors -->
                <div class="my-5">
                    <h4 class="text-primary-color fw-bold mb-3">المؤلفون</h4>
                    <ul class="list-unstyled text-end mt-2">
                        <li class="fw-light">د. عبدالستّار محفوظي — الكلية الاسترالية بالكويت ومركز تقويم وتعليم الطفل</li>
                        <li class="fw-light">د. عبير الشرهان — مركز تقويم وتعليم الطفل</li>
                        <li class="fw-light">أ.د. جون إيفرت — جامعة كانتربوري، نيوزيلندا</li>
                        <li class="fw-light">أ. رائد الوهيب — مركز تقويم وتعليم الطفل</li>
                        <li class="fw-light">د. جاد البحيري — الكلية الاسترالية بالكويت ومركز تقويم وتعليم الطفل</li>
                    </ul>
                </div>
        
                <!-- Development -->
                <div class="my-4">
                    <h4 class="text-primary-color fw-bold mb-3">تطوير</h4>
                    <p class="fw-light text-end">
                        دائرة تطوير النظم والبرمجيات، قسم تطبيقات التكنولوجيا لذوي الاحتياجات الخاصة، معهد الكويت للأبحاث العلمية
                    </p>
                </div>
        
      





{% endblock %}