{%extends 'base.html'%} {%load static%} {%block content%}




            <!-- Add Student Button-->
            <div class="d-flex justify-content-between align-items-center mb-3">

              
            <div class="mb-4 text-end">
                <a href="{% url 'signupStudents' %}" class="btn btn-primary-color">إضافة طالب جديد</a>
            </div>

            <!-- Search -->
            <div class="mb-4">
                <form action="{% url 'search-results' %}" method="get">
                    <div class="input-group">
                        <input type="search" class="form-control" name="search" placeholder="أدخل الرقم المدني للبحث عن الطالب">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
            <!-- Table -->
            {% if students %}
            <div class="table-responsive">
                <table class="name_table table table-striped fs-5" style="direction: rtl;">
                    <thead class="table-light">
                        <tr>
                            <th>الاسم</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Students in students %}
                        <tr>
                            <td>{{ Students.studentName }}</td>
                            <td>
                            
                                <a href="{% url 'startTest' Students.id %}" class="text-decoration-none">الاختبارات</a> </td>
                                <td><a href="{% url 'studentProfile' Students.id %}" class="text-decoration-none">
                                    <i class="bi bi-card-list"></i> ملف الطالب
                                </a> </td>
                                <td><a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalEdit{{Students.id}}">
                                    <i class="bi bi-pencil-square"></i> تحرير
                                </a> </td>
                                <td><a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#Modal{{Students.id}}">
                                    <i class="bi bi-trash"></i> حذف
                                </a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Alerts -->
            {% for message in messages %}
            <div class="alert alert-danger mt-3">{{ message }}</div>
            {% endfor %}

            {% endif %}

            <!--modal for the delete part-->
{% for Students in students %}
<div class="modal fade" id="Modal{{Students.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'deleteStudent' Students.id%}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4" id="labelText">
                    <h5 class="modal-title mb-0 w-100 text-center fs-2 fw-bolder color-purple"> هل أنت متأكد من حذف الطالب؟</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-striped fs-5" style="direction: rtl;">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th> الصف الدراسي</th>
                                <th>الرقم المدني</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{Students.studentName}}
                                </td>
                                <td>
                                    {{Students.grade}}
                                </td>
                                <td>
                                    {{Students.civilID}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="button" class="btn fs-5 btn-secondary col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">الغاء</button>
                    <button class="btn btn-danger fs-5 col-6 py-3 m-0 rounded-0 " type="submit">حذف</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endfor%}

<!--modal for the edit part-->
{% for Students in students %}
<div class="modal fade" id="ModalEdit{{Students.pk}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <form action="{% url 'editStudent' Students.id%}" method="POST">
        {% csrf_token %}
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-header p-4">
                    <h2 class="modal-title mb-0 w-100 text-center fs-1 fw-bolder color-purple">تحرير المعلومات</h2>
                </div>
                <div class="modal-body" style="text-align: right;">
                    <div class="mx-auto" style="width: 400px;">

                        <div class="form-group mb-3">
                            <label for="studentName" class="text-m-b">اسم المفحوص رباعيا</label>
                            <input type="text" class="form-control " name="studentName" id="studentName" value="{{Students.studentName}}" Required>
                        </div>

                        <div class="form-group mb-3" style="text-align: right; direction: rtl;">
                            <label for="sex" class="text-m-b">جنس المفحوص</label>
                            <select name="gender" class="form-select fs-5" id="sex" Required>
                                <option value="male" {% if Students.sex == "male" %} selected {% endif %}>ذكر</option>
                                <option value="female" {% if Students.sex == "female" %} selected {% endif %}>انثى</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="schoolName" class="text-m-b">اسم المدرسة</label>
                            <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{Students.schoolName}}" Required>
                        </div>
                        <div class="form-group mb-3" style="text-align: right; direction: rtl;">
                            <label for="grade" class="text-m-b">الصف الدراسي</label>
                            <select name="grade" class="form-select fs-5" id="grade" Required>
                                {% if stage == "PRIMARY"%}
                                    <option value="2" {% if Students.grade == "2" %} selected {% endif %}>2</option>
                                    <option value="3" {% if Students.grade == "3" %} selected {% endif %}>3</option>
                                    <option value="4" {% if Students.grade == "4" %} selected {% endif %}>4</option>
                                    <option value="5" {% if Students.grade == "5" %} selected {% endif %}>5</option>
                                {%elif stage == "SECONDARY"%}
                                    <option value="6" {% if Students.grade == "6" %} selected {% endif %}>6</option>
                                    <option value="7" {% if Students.grade == "7" %} selected {% endif %}>7</option>
                                    <option value="8" {% if Students.grade == "8" %} selected {% endif %}>8</option>
                                    <option value="9" {% if Students.grade == "9" %} selected {% endif %}>9</option>
                                {%elif stage == "BOTH"%}
                                    <option value="2" {% if Students.grade == "2" %} selected {% endif %}>2</option>
                                    <option value="3" {% if Students.grade == "3" %} selected {% endif %}>3</option>
                                    <option value="4" {% if Students.grade == "4" %} selected {% endif %}>4</option>
                                    <option value="5" {% if Students.grade == "5" %} selected {% endif %}>5</option>
                                    <option value="6" {% if Students.grade == "6" %} selected {% endif %}>6</option>
                                    <option value="7" {% if Students.grade == "7" %} selected {% endif %}>7</option>
                                    <option value="8" {% if Students.grade == "8" %} selected {% endif %}>8</option>
                                    <option value="9" {% if Students.grade == "9" %} selected {% endif %}>9</option>
                                {%endif%}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="civilID" class="text-m-b">الرقم المدني </label>
                            <input type="text" class="form-control" name="civilID" id="civilID" value="{{Students.civilID}}" disabled>
                        </div>
                        <div class="form-group mb-3" style="text-align: right; direction: rtl;">
                            <label for="eduDistrict" class="text-m-b">المنطقة التعليمية</label>
                            <select name="eduDistrict" class="form-select fs-5" id="eduDistrict" Required>
                                <option value="العاصمة" {% if Students.eduDistrict == "العاصمة" %} selected {% endif %}>العاصمة</option>
                                <option value="حولي" {% if Students.eduDistrict == "حولي" %} selected {% endif %}>حولي</option>
                                <option value="الفروانية" {% if Students.eduDistrict == "الفروانية" %} selected {% endif %}>الفروانية</option>
                                <option value="الجهراء" {% if Students.eduDistrict == "الجهراء" %} selected {% endif %}>الجهراء</option>
                                <option value="مبارك الكبير" {% if Students.eduDistrict == "مبارك الكبير" %} selected {% endif %}>مبارك الكبير</option>
                                <option value="الأحمدي" {% if Students.eduDistrict == "الأحمدي" %} selected {% endif %}>الأحمدي</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="examDate" class="text-m-b">تاريخ اجراء الاختبار </label>
                            <input type="date" class="form-control" name="examDate" id="examDate" value="{{Students.examDate|date:'Y-m-d'}}" Required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="birthDate" class="text-m-b">تاريخ ميلاد المفحوص</label>
                            <input type="date" class="form-control" name="birthDate" id="birthDate" value="{{Students.birthDate|date:'Y-m-d'}}" Required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="nationality" class="text-m-b">الجنسية </label>
                            <input type="text" class="form-control" name="nationality" id="nationality" value="{{Students.nationality}}" Required>
                        </div>
                    </div>

                </div>

                <div class="modal-footer flex-nowrap p-0">
                    <button type="button" class="btn fs-5 btn-secondary col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">الغاء</button>

                    <button class="btn btn-danger fs-5 col-6 py-3 m-0 rounded-0 " type="submit" style="background-color: #720e9e; border-color: #720e9e; ">تحديث</button>
                </div>

            </div>
        </div>

    </form>
</div>
{%endfor%} 


 {%endblock%}