{% extends 'base.html' %} {%load static %} {% block content %}

<div class="p-5 text-center  rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
    <h2 class="fw-bold mb-4">لطلب الخدمة يرجى إرسال الطلب</h2>
    <p class="mb-4 text-muted">يرجى تعبئة النموذج التالي لإتمام الطلب بنجاح.</p>
    <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill " onclick="window.location.href='{% url 'contact' %}'">
      أرسل طلباً
    </button>
    <br>
    <br>
    <br>
</div>


{% endblock %}