{%extends 'base.html'%} {%load static%} {%block content%} {% for Students in students %}


    <div class="form-card">
        <form action="" method="POST" class="form-horizontal" style="text-align: right; direction: rtl;">
            {% csrf_token%}
            <div class="row g-3 mx-auto" style="width: 700px;">
                <div class="modal-header p-4">
                    <h2 class="modal-title text-lg-purple w-100 text-center "> ملف الطالب</h2>
                </div>

                <div class="col-md-6">
                    <label for="studentName" class="text-m-b"> اسم المفحوص رباعيا </label>
                    <input type="text" class="form-control " name="studentName" id="studentName" value="{{Students.studentName}}" disabled>
                </div>

                <div class="col-md-6">
                    <label for="sex" class="text-m-b"> جنس المفحوص </label>
                    <input type="text" class="form-control " name="studentgender" id="studentgender" value="{{Students.gender}}" disabled>
                </div>

                <div class="form-group mb-3">
                    <label for="schoolName" class="text-m-b"> العمر </label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{Students.age}}" disabled>
                </div>

                <div class="col-md-6">
                    <label for="schoolName" class="text-m-b"> اسم المدرسة</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{Students.schoolName}}" disabled>
                </div>

                <div class="col-md-6">
                    <label for="grade" class="text-m-b"> الصف الدراسي</label>
                    <input type="text" class="form-control" name="schoolName" id="schoolName" value="{{Students.grade}}" disabled>
                </div>

                <div class="col-md-6">
                    <label for="civilID" class="text-m-b"> الرقم المدني </label>
                    <input type="text" class="form-control" name="civilID" id="civilID" value="{{Students.civilID}}" disabled>
                </div>

                <div class="col-md-6">
                    <label for="eduDistrict" class="text-m-b"> المنطقة التعليمية</label>
                    <input type="text" class="form-control" name="eduDistrict" id="eduDistrict" value="{{Students.eduDistrict}}" disabled>
                </div>

                <div class="form-group mb-3">
                    <label for="examDate" class="text-m-b">  تاريخ اجراء الاختبار</label>
                    <input type="date" class="form-control text-end" name="birthDate" id="birthDate" value="{{Students.examDate|date:'Y-m-d'}}" disabled>
                </div>

                <div class="form-group mb-3">
                    <label for="birthDate" class="text-m-b"> تاريخ ميلاد المفحوص </label>
                    <input type="date" class="form-control text-end" name="birthDate" id="birthDate" value="{{Students.birthDate|date:'Y-m-d'}}" disabled>
                </div>

                <div class="form-group mb-3">
                    <label for="nationality" class="text-m-b"> الجنسية </label>
                    <input type="text" class="form-control" name="nationality" id="nationality" value="{{Students.nationality}}" disabled>
                </div>



            </div>
        </form>
    </div>


{% endfor %} {%endblock%}